@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

/* Scrollbar styling */
/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: aliceblue;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c8781;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #216662;
}

:root {
  --primary-blue: #1e0478;
  --primary-blue-dark: #0a0129;
  --primary-blue-dark-op33: #0a012933;
  --primary-blue-dark-op99: #0a012999;
  --primary-blue-light: #6f7ccd;
  --primary-blue-light-op99: #6f7ccd99;
  --primary-violet: #9b8ccc;
  --primary-violet-op22: #9b8ccc22;
  --primary-violet-op33: #9b8ccc33;
  --primary-violet-op55: #9b8ccc55;
  --primary-violet-op77: #9b8ccc77;
  --primary-violet-op10: #9b8cccaa;
  --primary-violet-light: #a998df;
  --primary-sky-blue: #94e7ef;
  --primary-sky-blue-op77: #94e7ef77;

  --primary-text-slate: #f8fafc;
  --secondary-text-slate: #e2e8f0;
  --primary-text-dim: #64748b;
  --secondary-text-dim: #94a3b8;
}
